@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "sans-serif";
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 0.7rem 0;
}

p {
  margin: 0.7rem;
}

img {
  width: 100%;
}

.container {
  max-width: 69rem;
  margin: 0 auto;
  padding: 0 2.3rem;
}

.btn {
  display: inline-block;
  background: #db7373;
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
}

.btn:hover {
  opacity: 0.9;
}

.hidden {
  visibility: hidden;
  height: 0;
}

/* Navbar */

.navbar {
  background-color: #fff;
  max-height: fit-content;
  border-bottom: 1px solid #333;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-weight: 600;
}

.navbar .container ul {
  display: flex;
}

.navbar .container ul li {
  margin-right: 1.4rem;
}

.navbar .container ul li:hover {
  border-bottom: 2px #333 solid;
}

/* Showcase */

.showcase {
  width: 100%;
  height: 90vh;
  position: relative;
  background: url("https://cdn.pixabay.com/photo/2016/11/18/17/46/house-1836070_1280.jpg")
    no-repeat center center/cover;
}

.showcase-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.showcase-content h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 2;
  color: #fff;
  padding-top: 3rem;
}

.showcase-content .btn {
  position: absolute;
  bottom: 7rem;
}

/* About showcase */

.about-showcase {
  padding: 2rem;
  height: 100%;
}

.about-showcase .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.about-showcase-text h1 {
  padding: 1rem 1rem 2.4rem;
  font-weight: 400;
  font-size: 3rem;
}

.about-showcase-text ul li {
  padding: 0 0 0.5rem 2rem;
}

.about-showcase-img img {
  border-radius: 3px;
  width: 450px;
}

.lower-about-showcase {
  padding: 2rem;
}

.lower-about-showcase .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.lower-about-showcase-text {
  margin: 20px o;
  padding-left: 1rem;
}

.lower-about-showcase-text h1 {
  padding: 1rem 1rem 2.4rem;
  font-weight: 400;
  font-size: 3rem;
}

.lower-about-showcase-text p {
  line-height: 1.9;
  padding-bottom: 2rem;
}

.lower-about-showcase-img img {
  border-radius: 3px;
  width: 450px;
}

/* Contact */

.card {
  color: #333;
  background-color: #fff;
  border-radius: 0.7rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 1.4rem;
  margin: 0.7rem;
  position: relative;
  left: 5rem;
}

.contact-showcase {
  width: 100%;
  height: 90vh;
  position: relative;
}

.contact-showcase .container {
  overflow: visible;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.contact-form {
  margin-top: 4.3rem;
  height: 21.875rem;
  width: 25rem;
  padding: 2.8rem;
}

.contact-form .form-control {
  margin: 2rem 0;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 1rem;
}

.contact-form input:focus {
  outline: none;
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-text h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.contact-text p {
  font-size: 1.2rem;
  font-weight: 300;
}

input.btn {
  margin-top: 1.5rem;
}

/* Footer */

.footer {
  max-height: 30rem;
  background: #333;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer .container {
  padding: 2rem 0;
}

.footer h1 {
  font-size: 1.5rem;
}

.footer ul li {
  margin: 0 0 10px;
}

.footer ul li:hover {
  font-size: 1.1rem;
}

.footer i {
  margin: 0 8px 0;
}

.footer h1,
.footer p,
.footer a,
.footer i {
  color: #fff;
}

/* Media Queries */

@media (max-width: 768px) {
  .about-showcase .container,
  .lower-about-showcase .container,
  .contact-showcase .container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  .about-showcase ul,
  .about-showcase h1,
  .lower-about-showcase p,
  .lower-about-showcase-img,
  .about-showcase-img {
    text-align: center;
  }

  .lower-about-showcase-img,
  .about-showcase-img {
    padding-top: 2rem;
  }

  .lower-about-showcase-img {
    padding-bottom: 2rem;
  }
  .footer {
    margin-top: 15rem;
  }
}
